ul {
    list-style-type: none; /* remove bullet points */
    padding: 0; /* remove padding */
    margin:0 auto;
  }
  
li {
    margin-right: 10px; /* add some space between items */
    font-size: 18px;
  }
li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
	background-color: lightgreen;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
body {
    background-image: url('https://raw.githubusercontent.com/knestic/Projektni-zadatak/main/Slike/shrek%20slika.jpg'), url('https://raw.githubusercontent.com/knestic/Projektni-zadatak/main/Slike/shrek%20slika%20(1).jpg');
    background-repeat: no-repeat;
    background-position: right,left;
    background-size:contain;
}
